/* Error: Undefined variable.
 *    ,
 * 30 |             border-color: $nav-tabs-hover-border-color $nav-tabs-hover-border-color $nav-tabs-border-color;
 *    |                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   source\theme\_tabs.scss 30:27  @import
 *   source\_theme.scss 60:9        @import
 *   source\_light.scss 2:9         @import
 *   theme_light.scss 15:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 30 \2502              border-color: $nav-tabs-hover-border-color $nav-tabs-hover-border-color $nav-tabs-border-color;\a    \2502                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   source\\theme\\_tabs.scss 30:27  @import\a   source\\_theme.scss 60:9        @import\a   source\\_light.scss 2:9         @import\a   theme_light.scss 15:9          root stylesheet";
}
